.you{
    color: black;
}
.mio{
    display: flex;
      justify-content: center;
      background-color: #d3b4e8;
      height: 65px;
      margin-top: 100;
}
section{
    padding: 20px;
}
.hola{
    margin-left: 100;
}
.hijo{
    transform: auto;
}
